{% extends 'navbars/school_navbar.html' %}

{% block content %}
<h2 style="text-align: center; text-transform: uppercase;">LOTUS add school page</h2>  
<div class="main"style="margin: 30px; background: aqua;display:flex; justify-content:center;padding: 30px;border-radius: 10px;">
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            {{form.schoolname.label_tag}}
            {{form.schoolname}}
        </div>
        <div class="mb-4">
            {{form.email.label_tag}}
            {{form.email}}
        </div>
        <div class="mb-4">
            {{form.phone.label_tag}}
            {{form.phone}}
        </div>
        <div class="mb-4">
            {{form.location.label_tag}}
            {{form.location}}
        </div>        
           
        <button class="btn btn-primary" type="submit">Save</button>
    </form>

</div>



{% endblock%}